<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>

<body class="g-sidenav-show  bg-gray-100">
<!--   사이드 : aside -->
<aside th:replace="fragments/aside"></aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <!-- body Top Navbar : bodyTop  -->
  <nav th:replace="fragments/bodyTop"></nav>
  <!-- Start Content -->
  <div class="container-fluid py-4">
    <!-- Left : 공지 목록 -->
    <div class="row" >
<!--        <div class="col-12">-->
          <div class="card p-3" style="height: 85vh">
            <div class="card-header p-0" th:if="${session.user.getTeam().getTeam_name() eq '인사부'}">
                <button class="btn bg-gradient-primary p-2 mb-1" data-bs-toggle="modal" data-bs-target="#addBoard">새 공지</button>
                <hr class="solid">
            </div>
            <div class="card-body pt-2 px-5">
              <div class="accordion accordion-flush" id="faq-group-1">
                <div class="accordion-item" th:each="n : ${nlist}">
                  <!--공지 제목-->
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed py-2" th:data-bs-target="'#idd'+${n.getId()}"
                      data-bs-toggle="collapse" aria-expanded="false" th:aria-controls="'idd'+${n.getId()}">
                      <div class="row">
                        <div style="font-size:0.9rem" th:text="${n.getCreateDate()}+' / '+${n.getBoardWriter()}">등록일/등록자</div>
                        <div class="fw-bold ms-4 p-1" th:text="${n.getBoardTitle()}">공지제목</div>
                      </div>
                    </button>
                  </h2>
                  <!--공지본문-->
                  <div th:id="'idd'+${n.getId()}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faq-group-1">
                    <div class="accordion-body row bg-gray-100 border-radius-md p-3 mx-4">
                      <div class="col-9" th:text="${n.getBoardContent()}">공지 본문</div>
                      <div class="col-3 text-end" th:if="${session.user.getTeam().getTeam_name() eq '인사부'}">
                        <button class="btn bg-gradient-info mb-0" data-bs-toggle="modal" data-bs-target="#delBoard">수정</button>
<!--                        <button class="btn bg-gradient-info mb-0" onclick="editboard('${n.getId()}')">수정</button>-->
                        <button class="btn bg-gradient-danger mb-0" onclick="boardDelete('${n.getId()}')">삭제</button>
                      </div>
                    </div>
                  </div>
                  <hr class="solid mx-3">
                </span>
              </div>
            </div>
          </div>
<!--        </div>-->
    </div>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  var replyListEnabled = true;
  // 작성폼으로 이동
  function writeForm() {
    console.log();
    location.href="/board/newtaskboard";
  }

  //게시글 클릭 시, 우측단에 게시글 상세정보 작성해주는 함수
  function showTlistContents(data){

    var curBoardId=data.querySelector('.task-board-id').value;
    console.log(curBoardId);

    $.ajax({
      url: '/reply/curreplylist',
      method: 'GET',
      data: ({ "boardId": curBoardId }),
      success(replyfindresult) {
        alert("성공하다.")
        console.log(replyfindresult);
      }
    })

    var replyId = document.querySelector('.task-board-detail-reply-id');
    replyId.value="";
    replyId.value=data.querySelector('.task-board-id').value;
  }

  //게시글 삭제 ajax함수
  $(document).ready(function() {
    $('.delete-board-task').on('click', function(e) {
      e.preventDefault();
      var boardId=document.querySelector('.task-board-id').value;
      var url = $(this).attr('href');
      console.log("boardId : "+boardId+", url : "+url)

      $.ajax({
        url: url,
        method: 'DELETE',
        contentType: 'application/json',
        data: JSON.stringify({ boardId: boardId })
      })
              .done(function(response) {
                alert('게시글이 삭제되었습니다.');
                // location.href="/moveProject";
                location.replace("/moveProject");
              })
              .fail(function(jqXHR, textStatus, errorThrown) {
                alert('게시글 삭제에 실패했습니다.');
              });
    });
  });

  // let popup;
  // function popWriteNotice(){
  //   popup = window.open("/board/newnotice",'공지 작성', 'width=1040px,height=900px,scrollbars=yes');
  // }

  // function popReplyMail() {
  //   let test = document.getElementById('read-sender-name').value;
  //   // alert(test);
  //   // alert($('#read-title').text());
  //   let email = $('#read-sender-email').text();
  //   popup =window.open("/mail/reply?reply="+email,'새 메일', 'width=1040px,height=900px,scrollbars=yes');
  // }

  //공지작성 취소시 입력칸 초기화
  function clearBd(){
    $("#bTitle").val("");
    $("#bContents").val("");
  }

  //공지 등록
  function addBoard(){
    let boardTitle =$("#bTitle").val();
    let boardContent =$("#bContents").val();

    if(boardTitle.trim() == ''){
      alert("제목을 입력해주세요.");
      return;
    }else if(boardContent.trim() == ''){
      alert("내용을 입력해주세요.");
      return;
    }else{
      $.ajax({
        type : "POST",
        url : "/board/newnotice",
        data :{"boardTitle":boardTitle, "boardContent":boardContent},
        success : function(){
          alert("공지가 등록되었습니다.");
          location.reload();
        }
      });
    }
  }
</script>

<!-- 모달 -->
<div class="modal fade" id="addBoard" tabindex="-1" aria-labelledby="addBdModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:800px; margin-left:-30%">
      <div class="modal-header fs-5 fw-bold" id="addBdModal">새 공지 작성</div>
      <div class="modal-body" id="container" style="max-width: 100%">
          <div class="col" style="border: 2px solid #f9e7cb; border-radius: 5px">
            <div class="row p-3 pb-0">
              <div class="col-2 fw-bold">공지 제목</div>
              <div class="col ps-0 pe-3">
                <input class="input-basic col-12" type="text" id="bTitle"/>
              </div>
            </div>
            <hr class="text-basic">
            <div class="row p-3 pt-0">
              <div class="col-2 fw-bold">공지 내용</div>
              <div class="col ps-0 pe-3">
                <textarea class="input-basic col-12" id="bContents" rows="10"></textarea>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn-basic" onclick="addBoard()">등록</button>
        <button class="btn-cancel" data-bs-dismiss="modal" onclick="clearBd()">취소</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>