<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>

<body class="g-sidenav-show  bg-gray-100">
<!--   사이드 : aside -->
<aside th:replace="fragments/aside"></aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <!-- body Top Navbar : bodyTop  -->
  <nav th:replace="fragments/bodyTop"></nav>
  <!-- Start Content -->
  <div class="container-fluid py-4">
    <!-- Left : 공지 목록 -->
    <div class="row" >
      <div class="card p-3" style="height: 85vh">
        <div class="card-header p-0" th:if="${session.user.getTeam().getTeam_name() eq '인사부'}">
            <button class="btn bg-gradient-primary p-2 mb-1" data-bs-toggle="modal" data-bs-target="#addBoard">새 공지</button>
            <hr class="solid">
        </div>
        <div class="card-body pt-2 px-5">
          <div class="accordion accordion-flush" id="faq-group-1">
            <div class="accordion-item" th:each="n : ${nlist}">
              <!--공지 제목-->
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed py-1" th:data-bs-target="'#idd'+${n.getBoardId()}"
                  data-bs-toggle="collapse" aria-expanded="false" th:aria-controls="'idd'+${n.getBoardId()}">
                  <div class="row">
                    <div style="font-size:0.9rem" th:text="${n.getCreateDate()}+'  ['+${n.getBoardWriter()}+']'">등록일/등록자</div>
                    <div class="nTitle fw-bold ms-4 p-1" th:text="${n.getBoardTitle()}">공지제목</div>
                  </div>
                </button>
              </h2>
              <!--공지본문-->
              <div th:id="'idd'+${n.getBoardId()}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faq-group-1">
                <div class="accordion-body row bg-gray-100 border-radius-md p-3 mx-4">
              <!--본문 줄바꿈 처리 &lt;br&gt; ==> <br>-->
                  <div class="nContent col-9" th:utext="${n.getBoardContent().replaceAll('\n', '&lt;br&gt;')}">공지 본문</div>
                  <div class="col-3 text-end" th:if="${session.user.getTeam().getTeam_name() eq '인사부'}">
                    <span th:with="uId=${n.getBoardId()}, uTitle=${n.getBoardTitle()}, uContent=${n.getBoardContent()}">
                    <input class="nid" type="hidden" th:value="${n.getBoardId()}">
                    <button class="changeBtn btn bg-gradient-info mb-0">수정</button>
<!--                    <button class="changeBtn btn bg-gradient-info mb-0" onclick="changeNotice()">수정</button>-->
<!--                    <button class="deleteBtn btn bg-gradient-danger mb-0" onclick="delNotice()">삭제</button>-->
                    <button class="deleteBtn btn bg-gradient-danger mb-0">삭제</button>
                    </span>
                  </div>
                </div>
              </div>
              <hr class="solid mx-3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // let popup;
  // function popWriteNotice(){
  //   popup = window.open("/board/newnotice",'공지 작성', 'width=1040px,height=900px,scrollbars=yes');
  // }

  //공지작성 취소시 입력칸 초기화
  function clearBd(){
    $("#bTitle").val("");
    $("#bContents").val("");
  }

  //공지 등록
  function addBoard(){
    let boardTitle =$("#bTitle").val();
    let boardContent =$("#bContents").val();

    if(boardTitle.trim() == ''){
      alert("제목을 입력해주세요.");
      return;
    }else if(boardContent.trim() == ''){
      alert("내용을 입력해주세요.");
      return;
    }else{
      $.ajax({
        type : "POST",
        url : "/board/newnotice",
        data : ({"boardTitle": boardTitle, "boardContent": boardContent}),
        success: function () {
          alert("공지가 등록되었습니다.");
          location.reload();
        }
      });
    }
  }

  let pid;

  window.onload = function() {
    //공지 수정팝업에 기존 내용 받아오기
    let ids = document.querySelectorAll('.nid');
    let chgBtn = document.querySelectorAll('.changeBtn');

    for(let i=0; i<chgBtn.length; i++){
      chgBtn[i].addEventListener('click',()=>{
        pid = ids[i].value;
        $.ajax({
              url:"/board/getNotice",
              type:"post",
              data:{"id":pid},
              async:true,
              success:function (res){
                // noticeObj=res;  //수정처리를 위해 전역변수로 Object 값받기
                $("#eTitle").val(res['boardTitle']);
                $("#eContents").val(res['boardContent']);
                $('#editBoard').modal('show');
              }
            });
      });
    }

    //공지 삭제
    let delBtn = document.querySelectorAll('.deleteBtn');
    for(let i=0; i<delBtn.length; i++){
      delBtn[i].addEventListener('click',()=> {
        pid = ids[i].value;
        // function delNotice(){
        $.ajax({
          type: "POST",
          url: "/board/delNotice",
          data: {"id": pid},
          success: function () {
            alert("공지가 삭제되었습니다.");
            location.reload();
          }
        });
      });
    }
 }

  //공지 수정 처리
  function fixBoard(){
    let title =$("#eTitle").val();
    let contents =$("#eContents").val();

    if(title.trim() == ''){
      alert("제목을 입력해주세요.");
      return;
    }else if(contents.trim() == ''){
      alert("내용을 입력해주세요.");
      return;
    }else{
      $.ajax({
        type : "POST",
        url : "/board/changeNotice",
        data :{"id":pid, "boardTitle": title, "boardContent": contents},
        success : function(){
          alert("공지가 수정되었습니다.");
          location.reload();
        }
      });
    }
  }



  // window.onload=function (){
  //   let nid = document.querySelectorAll('.nid');
    // for(let i=0; i<id.length; i++){
    //   id[i].addEventListener('click',()=>{
    //     $.ajax({
    //           url:"/board/getNotice",
    //           type:"post",
    //           data:{"id":id},
    //           async:true,
    //           success:function (res){
    //             // noticeObj=res;  //수정처리를 위해 전역변수로 Object 값받기
    //             $("#eTitle").val(res['boardTitle']);
    //             $("#eContents").val(res['boardContent']);
    //             $('#editBoard').modal('show');
    //           }
    //         });
    //   });
    // }
  // }

  // function changeNotice(){
  //   let id = nid.value;
  //   $.ajax({
  //     url:"/board/getNotice",
  //     type:"post",
  //     data:{"id":id},
  //     async:true,
  //     success:function (res){
  //       // noticeObj=res;  //수정처리를 위해 전역변수로 Object 값받기
  //       $("#eTitle").val(res['boardTitle']);
  //       $("#eContents").val(res['boardContent']);
  //       $('#editBoard').modal('show');
  //     }
  //   });
  // }

</script>

<!-- 모달 -->
<!--공지 등록용 모달-->
<div class="modal fade" id="addBoard" tabindex="-1" aria-labelledby="addBdModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:800px; margin-left:-30%">
      <div class="modal-header fs-5 fw-bold" id="addBdModal">새 공지 작성</div>
      <div class="modal-body" id="container" style="max-width: 100%">
          <div class="col" style="border: 2px solid #f9e7cb; border-radius: 5px">
            <div class="row p-3 pb-0">
              <div class="col-2 fw-bold text-center">공지 제목</div>
              <div class="col ps-0 pe-3">
                <input class="input-basic col-12" type="text" id="bTitle"/>
              </div>
            </div>
            <hr class="text-basic">
            <div class="row p-3 pt-0">
              <div class="col-2 fw-bold text-center">공지 내용</div>
              <div class="col ps-0 pe-3">
                <textarea class="input-basic col-12" id="bContents" rows="10" style="white-space: pre-wrap"></textarea>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn-basic" onclick="addBoard()">등록</button>
        <button class="btn-cancel" data-bs-dismiss="modal" onclick="clearBd()">취소</button>
      </div>
    </div>
  </div>
</div>
<!--공지 수정용 모달-->
<div class="modal fade" id="editBoard" tabindex="-1" aria-labelledby="editBoard" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:800px; margin-left:-30%">
      <div class="modal-header fs-5 fw-bold" id="editBdModal">공지 수정</div>
      <div class="modal-body" style="max-width: 100%">
        <div class="col" style="border: 2px solid #f9e7cb; border-radius: 5px">
          <div class="row p-3 pb-0">
            <div class="col-2 fw-bold text-center">공지 제목</div>
            <div class="col ps-0 pe-3">
              <input class="input-basic col-12" type="text" id="eTitle" value=""/>
            </div>
          </div>
          <hr class="text-basic">
          <div class="row p-3 pt-0">
            <div class="col-2 fw-bold text-center">공지 내용</div>
            <div class="col ps-0 pe-3">
              <textarea class="input-basic col-12" id="eContents" rows="10" style="white-space: pre-wrap"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" id="idval"/>
        <button class="btn-basic" onclick="fixBoard()">수정</button>
        <button class="btn-cancel" data-bs-dismiss="modal" onclick="clearBd()">취소</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>