<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:if="${curBoard} != null">
<div class="col-md-8 mt-4">
  <div class="card h-100 mb-4 task-main-right">
<!--    <input type="hidden" class="task-board-detail-id" th:value="${curBoard.id}">-->
<!--    <input type="text" class="task-board-detail-id" th:text="${curBoard.id}">-->

    <div class="card-header pb-0 px-3">
      <div class="row">
        <div class="col-md-6">
          <h6 class="mb-0">선택한 업무</h6>
        </div>
        <div class="col-md-6 d-flex justify-content-end align-items-center">
          <i class="far fa-calendar-alt me-2"></i>

          <small class="task-board-detail-create-date" th:text="${curBoard.getCreateDate()}"></small>

          <select class="task-board-detail-status" id="taskStatus">
            <option value="TO_DO">할일</option>
            <option value="IN_PROGRESS">진행중</option>
            <option value="DONE">완료</option>
          </select>

        </div>
      </div>
    </div>

    <div class="card-body pt-4 p-3">
      <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3 task-board-detail-title" th:text="${curBoard.boardTitle}"></h6>
      <ul class="list-group">
        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
          <div class="d-flex align-items-center">
            <div class="d-flex flex-column">
              <h6 class="mb-1 text-dark text-sm">담당자</h6>
              <span class="text-xs task-board-detail-responsibleMember" th:text="${curBoard.responsibleMemNum.mem_name}"></span>
            </div>
          </div>
          <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold task-board-detail-start-date" th:text="${curBoard.startDate}"></div>
        </li>

        <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
          <div class="d-flex align-items-center">
            <div class="d-flex flex-column">
              <h6 class="mb-1 text-dark text-sm">참조부서</h6>
              <span class="text-xs task-board-detail-responsibleTeam" th:text="${curBoard.teamNum.team_name}"></span>
            </div>
          </div>
          <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold task-board-detail-end-date" th:text="${curBoard.endDate}"></div>
        </li>
      </ul>
      <hr>
      <h6 class="mb-0">업무 상세</h6>
      <br>

      <div class="task-board-detail-task-section">
        <section class="task-board-detail-content" th:text="${curBoard.boardContent}"></section>
        <div class="task-board-detail-task-reply">
          <hr>
          <div class="card-body pt-4 p-3 task-board-detail-task-reply-list" th:with="curRplist=${curRplist}">
            <h6 class="mb-0">댓글 목록</h6>
            <ul class="list-group task-board-detail-task-reply-list-section" th:each="vo:${curRplist}">


              <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg task-board-detail-task-reply-list-section">
                <div class="d-flex flex-column task-board-detail-task-reply-list-section-component">
                  <input type="hidden" class="task-reply-id" th:value="${vo.id}">
                  <input type="hidden" class="task-reply-create-date" th:value="${vo.createDate}">
                  <input type="hidden" class="task-reply-update-date" th:value="${vo.updateDate}">
                  <h6 class="mb-3 text-sm task-reply-writer" th:text="${vo.replyWriter}"></h6>
                  <span class="mb-2 text-xs task-reply-small-element"><span class="text-dark font-weight-bold ms-sm-2 task-reply-content" th:text="${vo.replyContent}"></span></span>
                  <span class="mb-2 text-xs task-reply-small-element"><span class="text-dark font-weight-bold ms-sm-2 task-reply-current-board" th:text="${vo.currentBoard.getId()}"></span></span>
                </div>
                <div class="ms-auto text-end">
                  <a class="btn btn-link text-danger text-gradient px-3 mb-0 delete-board-task" href="/board/deleteboardtask"><i class="far fa-trash-alt me-2"></i>Delete</a>
                  <a class="btn btn-link text-dark px-3 mb-0" href="#"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                </div>
              </li>
            </ul>
          </div>
          <hr>
          <form action="/writeNewReply" th:object="${replyDTO}" method="POST">
            <input type="hidden" name="boardId" class="task-board-detail-reply-id">
            <textarea th:field="*{replyContent}" placeholder="댓글을 작성하세요"></textarea>
            <button type="submit">작성</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

</div>


<!--&lt;!&ndash;        Right : 업무 상세 정보&ndash;&gt;-->
<!--      <div class="col-md-8 mt-4">-->
<!--        <div class="card h-100 mb-4 task-main-right">-->
<!--          <input type="hidden" class="task-board-detail-id">-->

<!--          <div class="card-header pb-0 px-3">-->
<!--            <div class="row">-->
<!--              <div class="col-md-6">-->
<!--                <h6 class="mb-0">선택한 업무</h6>-->
<!--              </div>-->
<!--              <div class="col-md-6 d-flex justify-content-end align-items-center">-->
<!--                <i class="far fa-calendar-alt me-2"></i>-->
<!--                <small class="task-board-detail-create-date"></small>-->

<!--                <select class="task-board-detail-status" id="taskStatus">-->
<!--                  <option value="TO_DO">할일</option>-->
<!--                  <option value="IN_PROGRESS">진행중</option>-->
<!--                  <option value="DONE">완료</option>-->
<!--                </select>-->

<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="card-body pt-4 p-3">-->
<!--            <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3 task-board-detail-title"></h6>-->
<!--            <ul class="list-group">-->
<!--              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">-->
<!--                <div class="d-flex align-items-center">-->
<!--                  <div class="d-flex flex-column">-->
<!--                    <h6 class="mb-1 text-dark text-sm">담당자</h6>-->
<!--                    <span class="text-xs task-board-detail-responsibleMember"></span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold task-board-detail-start-date"></div>-->
<!--              </li>-->

<!--              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">-->
<!--                <div class="d-flex align-items-center">-->
<!--                  <div class="d-flex flex-column">-->
<!--                    <h6 class="mb-1 text-dark text-sm">참조부서</h6>-->
<!--                    <span class="text-xs task-board-detail-responsibleTeam"></span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold task-board-detail-end-date"></div>-->
<!--              </li>-->
<!--            </ul>-->
<!--            <hr>-->
<!--            <h6 class="mb-0">업무 상세</h6>-->
<!--            <br>-->

<!--            <div class="task-board-detail-task-section">-->
<!--              <section class="task-board-detail-content"></section>-->
<!--              <div class="task-board-detail-task-reply">-->
<!--                <hr>-->
<!--                  <div class="card-body pt-4 p-3 task-board-detail-task-reply-list" th:with="rplist=${rplist}">-->
<!--                    <h6 class="mb-0">댓글 목록</h6>-->
<!--                    <ul class="list-group task-board-detail-task-reply-list-section" th:each="vo:${rplist}">-->
<!--                      <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg task-board-detail-task-reply-list-section">-->
<!--                        <div class="d-flex flex-column task-board-detail-task-reply-list-section-component">-->
<!--                          <input type="hidden" class="task-reply-id" th:value="${vo.id}">-->
<!--                          <input type="hidden" class="task-reply-create-date" th:value="${vo.createDate}">-->
<!--                          <input type="hidden" class="task-reply-update-date" th:value="${vo.updateDate}">-->
<!--                          <h6 class="mb-3 text-sm task-reply-writer" th:text="${vo.replyWriter}"></h6>-->
<!--                          <span class="mb-2 text-xs task-reply-small-element"><span class="text-dark font-weight-bold ms-sm-2 task-reply-content" th:text="${vo.replyContent}"></span></span>-->
<!--                          <span class="mb-2 text-xs task-reply-small-element"><span class="text-dark font-weight-bold ms-sm-2 task-reply-current-board" th:text="${vo.currentBoard.getId()}"></span></span>-->
<!--                        </div>-->
<!--                        <div class="ms-auto text-end">-->
<!--                          <a class="btn btn-link text-danger text-gradient px-3 mb-0 delete-board-task" href="/board/deleteboardtask"><i class="far fa-trash-alt me-2"></i>Delete</a>-->
<!--                          <a class="btn btn-link text-dark px-3 mb-0" href="#"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>-->
<!--                        </div>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                <hr>-->
<!--                <form action="/writeNewReply" th:object="${replyDTO}" method="POST">-->
<!--                  <input type="hidden" name="boardId" class="task-board-detail-reply-id">-->
<!--                  <textarea th:field="*{replyContent}" placeholder="댓글을 작성하세요"></textarea>-->
<!--                  <button type="submit">작성</button>-->
<!--                </form>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

</html>