
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{/fragments/header :: header}"></head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<body class="g-sidenav-show  bg-gray-100">
<!--   사이드 : aside -->
<aside th:replace="/fragments/aside"></aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- body Top Navbar : bodyTop  -->
    <nav th:replace="fragments/bodyTop"></nav>
    <!-- Start Content -->

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card px-4" style="height: 90vh;">
                    <div class="card-header pb-0">
                        <h6 class="fw-bold" style="float: left">드라이브 목록</h6>
                        <!-- 파일 업로드 -->
                        <form style="float: right" action="/upload" method="post" enctype="multipart/form-data">

                            <label class="bg-gradient-success p-2 border-radius-md">
                                <input type="file"  multiple="multiple" name="files" required/>
                                <input class="btn btn-sm bg-light mb-0"  type="submit" value="업로드"/>
                            </label>
                        </form>
                    </div>

                    <!-- 드라이브 목록 -->
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr class="text-center">
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder">NO</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder">파일명</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder">등록자</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder">등록일</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder">업로드경로</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder">파일형식</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder">다운로드</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder">삭제</th>
                                </tr>
                                </thead>
                                <!--************ 드라이브 리스트 받아와서 뿌리기***************-->
                                <tbody th:each="file,i : ${fileList}">
                                <tr class="text-center">
                                    <!--번호 넣기-->
                                    <td><div class="d-flex px-2 py-1">
                                        <p th:text="${i.index+1}"/>
                                    </div></td>
                                    <!-- 파일명 -->
                                    <td><div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm" th:text="${file.getOriginalName()}">파일명</h6>
                                    </div></td>
                                    <!-- 등록자 -->
                                    <td><div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm" th:text="${file.getUserId()}">등록자</h6>
                                    </div></td>
                                    <!-- 등록일 -->
                                    <td><div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm" th:text="${file.getDate()}">등록일</h6>
                                    </div></td>
                                    <!-- 업로드경로 -->
                                    <td><div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm" th:text="${file.getSavedPath()}">업로드경로</h6>
                                    </div></td>
                                    <!-- 파일형식 -->
                                    <td><div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm" th:text="${file.getFileType()}">파일형식</h6>
                                    </div></td>
                                    <!-- 다운로드 -->
                                    <td class="align-middle text-center text-sm">
                                        <button class="btn bg-gradient-info px-3 py-1 mb-0"
                                                th:onclick="|location.href='@{/downloadFile(id=${file.getId()})}'|">다운로드</button>
                                    </td>
                                    <!-- 파일 삭제 -->
                                    <td class="align-middle text-center text-sm">
                                        <button class="btn bg-gradient-danger px-3 py-1 mb-0"
                                                th:onclick="|location.href='@{/delete(path=${file.getSavedPath()})}'|">삭제</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!--    <div class="container-fluid py-4">
        <div class="row" >
            <div class="col-md-4 mt-4">
                <div class="card" style="height: 100vh;">
                    <div class="card-header pb-0 px-3">
                        <h6 class="mb-0">드라이브 목록</h6>
                        &lt;!&ndash;            Start 파일 업로드 &ndash;&gt;
                        <br>
                        <form action="/upload" method="post" enctype="multipart/form-data">

                            <h6 class="mb-0">단일 파일 업로드</h6>
                            <input type="file" name="file">

                            <h6 class="mb-0">다중 파일 업로드</h6>
                            <input type="file" multiple="multiple" name="files">

                            <input type="submit"/>
                        </form>
                        &lt;!&ndash;            End 파일 업로드 &ndash;&gt;
                    </div>
                    <div class="card-body pt-4 p-3">
                        <ul class="list-group">
                            &lt;!&ndash;                Start 예시 형식    &ndash;&gt;
                            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-3 text-sm">파일 제목</h6>
                                    <span class="mb-2 text-xs">올린 이: <span class="text-dark font-weight-bold ms-sm-2">1</span></span>
                                    <span class="mb-2 text-xs">파일 형식: <span class="text-dark ms-sm-2 font-weight-bold">2</span></span>
                                    <span class="text-xs">파일 크기: <span class="text-dark ms-sm-2 font-weight-bold">3</span></span>
                                </div>
                                <div class="ms-auto text-end">
                                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:"></a>
                                    &lt;!&ndash;                  삭제 버튼&ndash;&gt;
                                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:"><i class="far fa-trash-alt me-2"></i>Delete</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            &lt;!&ndash;                End 예시 형식 &ndash;&gt;

            &lt;!&ndash;        Right : 파일 상세 정보 &ndash;&gt;
            <div class="col-md-8 mt-4">
                <div class="card mb-4" style="height: 100vh;">
                    <div class="card-header pb-0">
                        <h6>선택한 파일 제목</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                &lt;!&ndash;                테이블 헤더 추가 요소 &ndash;&gt;
                                </thead>
                                <tbody>
                                &lt;!&ndash;                파일 올린 사원 정보 &ndash;&gt;
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="#" class="avatar avatar-sm me-3" alt="user1">  &lt;!&ndash; 사진 &ndash;&gt;
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">John Michael</h6>   &lt;!&ndash; 올린 이  &ndash;&gt;
                                                <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>  &lt;!&ndash; 이메일 &ndash;&gt;
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        파일 내용
                                        &lt;!&ndash;                                        메일 내용 &ndash;&gt;
                                    </td>
                                </tr>
                                </tbody>
                                &lt;!&ndash;                End 메일 상세정보 -&ndash;&gt;
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <!-- footer -->
        <footer th:replace="/fragments/footer"></footer>

    </div>
</main>
<!-- plugin -->
<div th:replace="/fragments/plugin"></div>
</body>

</html>