<!--휴가결재 작성 양식-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>휴가 신청기안</title>
</head>
<body>
<div>
    <form action="/board/newapprovalvacationboard" method="POST">
        <div class="form-group" th:object="${boardApprovalDTO}">
            <div class="form-group">
                <label th:for="approverMemNum">사원번호</label>
                <input type="text" th:field="*{approverMemNum}">
            </div>
            <div class="form-group">
                <label th:for="boardContent">휴가 신청 사유</label>
                <textarea th:field="*{boardContent}" placeholder="사유를 입력하다."></textarea>
            </div>
        </div>

        <div class="form-group" th:object="${boardApprovalInfoDTO}">
            <div class="form-group">
                <label th:for="startDate">휴가 시작일</label>
                <input type="date" th:field="*{startDate}" placeholder="시작일을 입력하다.">
            </div>
            <div class="form-group">
                <label th:for="endDate">휴가 복귀일</label>
                <input type="date" th:field="*{endDate}" placeholder="복귀일을 입력하다.">
            </div>
            <div class="form-group">
                <label th:for="deduction">연차 차감 시간</label>
                <input type="number" th:field="*{deduction}" placeholder="연차차감시간을 입력하다.">
            </div>
        </div>
        <button type="submit">제출</button>
    </form>
</div>
</body>
</html>