<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: header}"></head>

<body class="g-sidenav-show  bg-gray-100">
<!--   사이드 : aside -->
<aside th:replace="/fragments/aside"></aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <!-- body Top Navbar : bodyTop  -->
  <nav th:replace="fragments/bodyTop"></nav>
  <!-- Start Content -->
  <div class="container-fluid py-4">
    <!-- Left : 결재 목록 -->
    <div class="row" >
      <div class="col-md-4">
        <div class="card p-3" style="height: 100vh;">
          <div class="card-header pb-0 text-center">
            <button type="button" class="btn bg-gradient-primary p-2 mb-1" data-bs-toggle="modal" data-bs-target="#writeModal">새 기안</button>
            <button type="button" class="btn bg-gradient-success p-2 mb-1" onclick="#">결재완료</button>
            <button type="button" class="btn bg-gradient-secondary p-2 mb-1" onclick="#">미결재</button>
            <hr class="solid">
          </div>

          <!--<div class="card-body pt-4 p-3 approval-main-left">
            <h6 class="mb-0">결재 목록</h6>
            <ul class="list-group approval-main-left-alist-section" th:with="list=${curUser.team.team_name} == '인사부' ? ${alist} : ${myAList}" th:each="vo:${list}" onclick="showAlistContents(this)">-->
          <div class="card-body pt-4 p-3 approval-main-left" th:with="alist=${alist}">
            <h6 class="mb-0">결재 목록</h6>
            <ul class="list-group approval-main-left-alist-section" th:each="vo:${alist}" onclick="showAlistContents(this)">
              <!-- 기존의 내용 -->
              <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg approval-main-left-alist-section">
                <div class="d-flex flex-column approval-main-left-alist-section-component">
                  <input type="hidden" class="approval-board-id" th:value="${vo.id}">
                  <input type="hidden" class="approval-board-writer" th:value="${vo.boardWriter}">
                  <input type="hidden" class="approval-board-login-user-team-information" th:value="${curUser.team.team_name}">
                  <input type="hidden" class="approval-board-content" th:value="${vo.boardContent}">
                  <input type="hidden" class="approval-board-create-date" th:value="${vo.createDate}">
                  <input type="hidden" class="approval-board-update-date" th:value="${vo.updateDate}">
                  <input type="hidden" class="approval-board-due-date" th:value="${vo.dueDate}">
                  <input type="hidden" class="approval-board-approval-info" th:value="${vo.approvalInfo}">
                  <span class="mb-2 text-xs approval-board-small-element">요청된 기안 : <span class="text-dark font-weight-bold ms-sm-2 approval-board-approval-type" th:text="${vo.approvalType == 'VACATION'} ? '휴가신청' : (${vo.approvalType == 'OVERTIME'} ? '연장근무신청' : '근무시간변경')"></span></span>
                  <span class="mb-2 text-xs approval-board-small-element">결재 요청자: <span class="text-dark font-weight-bold ms-sm-2 approval-board-requestorMemNum" th:text="${vo.boardWriter}"></span></span>
                  <span class="mb-2 text-xs approval-board-small-element">결재 승인자: <span class="text-dark ms-sm-2 font-weight-bold approval-board-approverMemNum" th:text="${vo.approverMemNum.mem_name}"></span></span>
                  <h6 id="approval-board-status" th:class="${vo.approvalStatus == 'APPROVED' ? 'approval-status-approved' : (vo.approvalStatus == 'REJECTED' ? 'approval-status-rejected' : 'approval-status-requested')}">
                    <span class="approval-board-status-text" th:text="${vo.approvalStatus == 'REQUESTED'} ? '요청됨' : (${vo.approvalStatus == 'APPROVED'} ? '승인됨' : '반려됨')"></span>&nbsp;&nbsp;
                    <span class="badge bg-secondary"></span>
                  </h6>
                </div>
                <div class="ms-auto text-end">
                  <a class="btn btn-link text-danger text-gradient px-3 mb-0 delete-board-approval" href="/board/deleteboardapproval"><i class="far fa-trash-alt me-2"></i>Delete</a>
                  <a class="btn btn-link text-dark px-3 mb-0" href="#"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--        Right : 업무 상세 정보 -->
      <div class="col-md-8">
        <div class="card p-3 h-100 approval-main-right">
          <input type="hidden" class="approval-board-detail-id">

          <div class="card-header pb-0 px-3">
            <div class="row approval-main-right-detail-header">
              <div class="col-md-6 d-flex justify-content-end align-items-center">
                <i class="far fa-calendar-alt me-2"></i>
                <small class="approval-board-detail-create-date"></small>

                <span class="text-xs approval-board-detail-status" id="approvalStatus" th:if="${curUser.team.team_name} != '인사부'">요청됨</span>

                <select class="approval-board-detail-status" id="approval-status" th:if="${curUser.team.team_name} == '인사부'">
                  <option value="REQUESTED">요청됨</option>
                  <option value="APPROVED">승인됨</option>
                  <option value="REJECTED">반려됨</option>
                </select>


              </div>
            </div>
          </div>

          <div class="card-body pt-4 p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">결재 요청자</h6>
                    <span class="text-xs approval-board-detail-requestorMemNum"></span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold approval-board-detail-start-date"></div>
              </li>

              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">결재 승인자</h6>
                    <span class="text-xs approval-board-detail-approverMemNum"></span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold approval-board-detail-due-date"></div>
              </li>

              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">결재 승인 기한</h6>
                    <span class="text-xs approval-board-detail-request-date"></span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold approval-board-detail-due-date"></div>
              </li>

            </ul>
            <hr>
            <h6 class="mb-0">문서 상세</h6>
            <br>
            <section class="approval-board-detail-content"></section>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- 기안 매뉴 선택 모달 -->
<div class="modal fade" id="writeModal" tabindex="-1" role="dialog" aria-labelledby="writeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="writeModalLabel">새 기안</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="approval-menu" id="vacation" value="vacation">
          <label class="form-check-label" for="vacation">휴가신청</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="approval-menu" id="overtime" value="overtime">
          <label class="form-check-label" for="overtime">연장근무신청</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="approval-menu" id="work-hour-change" value="work-hour-change">
          <label class="form-check-label" for="work-hour-change">업무시간변경</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="redirectToPage()">OK</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  // 선택한 기안메뉴에 따라 적절한 작성페이지로 이동시켜주다.
  function redirectToPage() {
    const width=800;
    const height=600;
    const left=window.screen.width/2 - width/2;
    const top=window.screen.height/2 - height/2;
    let menu=$('input[name="approval-menu"]:checked').val();  // 선택한 메뉴 가져오기
    let newWindow;
    if(menu==="vacation") {
      newWindow=window.open('/board/newapprovalvacationboard','휴가 신청 기안',`width=${width},height=${height},left=${left},top=${top}`);
    }
    else if(menu==="overtime") {
      newWindow=window.open('/board/newapprovalovertimeboard','연장근무 신청 기안',`width=${width},height=${height},left=${left},top=${top}`);
    }
    else if(menu==="work-hour-change") {
      newWindow=window.open('/board/newapprovalwocboard','출퇴근 시간 변경 신청 기안',`width=${width},height=${height},left=${left},top=${top}`);
    }
    else {
      alert("기안 유형을 선택해 주세요");
    }

    if(newWindow) {
      newWindow.addEventListener('beforeunload', function () {
        location.reload();
      });
    }

    $("#writeModal").modal("hide");
  }

  window.addEventListener("message", function(event) {
    if(event.data==="submit_success") {
      window.location.reload();
    }
  });

  // 게시글 클릭 시, 우측단에 결재문서 상세정보 작성해주는 함수
  function showAlistContents(data){
    $('.approval-main-right').show();

    // db에 저장된 json문자열을 뽑아오다.
    let jsonString=data.querySelector('.approval-board-approval-info').value;
    let jsonObj=JSON.parse(jsonString);

    //결재진행도 작성
    let curUserTeamInfo=data.querySelector('.approval-board-login-user-team-information').value;
    if(curUserTeamInfo === '인사부') {
      let approvalStatus=data.querySelector('#approval-board-status').className;
      let statusSelect=document.getElementById('approval-status');
      if(approvalStatus === 'approval-status-requested') {
        statusSelect.value='REQUESTED';
      }
      else if(approvalStatus === 'approval-status-approved') {
        statusSelect.value='APPROVED';
      }
      else if(approvalStatus === 'approval-status-rejected') {
        statusSelect.value='REJECTED';
      }
    }
    else {
      let statusText=document.getElementById('approvalStatus');
      statusText.innerHTML="";
      statusText.innerHTML=data.querySelector('.approval-board-status-text').textContent;
    }




    //기본적인 결재문서 정보 작성 (요청자, 승인자, 요청된 날짜, 승인기간)
    function setValue(targetSelector, sourceSelector) {
      const target=document.querySelector(targetSelector);
      target.innerHTML="";
      target.innerHTML=data.querySelector(sourceSelector).textContent;
    }

    setValue('.approval-board-detail-requestorMemNum', '.approval-board-requestorMemNum');
    setValue('.approval-board-detail-approverMemNum', '.approval-board-approverMemNum');

    let createDate=document.querySelector('.approval-board-detail-create-date');
    createDate.textContent="";
    createDate.textContent=data.querySelector('.approval-board-create-date').value;

    let requestDate=document.querySelector('.approval-board-detail-request-date');
    requestDate.textContent="";
    requestDate.textContent=data.querySelector('.approval-board-create-date').value+" ~ "+data.querySelector('.approval-board-due-date').value;

    let detailId = document.querySelector('.approval-board-detail-id');
    detailId.value="";
    detailId.value=data.querySelector('.approval-board-id').value;

    // 문서 타입에 따른 결재문서 상세 정보 설정
    let approvalType=data.querySelector('.approval-board-approval-type').textContent;
    let detailContent=document.querySelector('.approval-board-detail-content');
    detailContent.innerHTML="";

    if(approvalType=="휴가신청") {
      let startDate=jsonObj.startDate;
      let endDate=jsonObj.endDate;
      let deduction=jsonObj.deduction;
      let reason=data.querySelector('.approval-board-content').value;

      detailContent.innerHTML+="<div>휴가 시작일 : " + startDate + "</div>";
      detailContent.innerHTML+="<div>휴가 종료일 : " + endDate + "</div>";
      detailContent.innerHTML+="<div>연차 차감 일수 : " + deduction + "</div>";
      detailContent.innerHTML+="<div>휴가 신청 사유 : " + reason + "</div>";
    }
    else if(approvalType == "연장근무신청") {
      let endTime=jsonObj.endTime;
      let bonusAllowance=jsonObj.bonusAllowance;
      let reason=data.querySelector('.approval-board-content').value;

      detailContent.innerHTML+="<div>연장근무 종료 시간 : " + endTime + "</div>";
      detailContent.innerHTML+="<div>연장근무 추가 수당 : " + bonusAllowance + "</div>";
      detailContent.innerHTML+="<div>연장근무 신청 사유 : " + reason + "</div>";
    }
    else {
      let goToOffice=jsonObj.goToOffice;
      let leaveOffice=jsonObj.leaveOffice;
      let reason=data.querySelector('.approval-board-content').value;

      detailContent.innerHTML+="<div>변경 요청한 출근시간 : " + goToOffice + "</div>";
      detailContent.innerHTML+="<div>변경 요청한 퇴근시간 : " + leaveOffice + "</div>";
      detailContent.innerHTML+="<div>출퇴근 시간 변경 신청 사유 : " + reason + "</div>";
    }
  }

  //게시글 삭제 ajax함수
  $(document).ready(function() {
    $('.delete-board-approval').on('click', function(e) {
      e.preventDefault();
      let boardId=document.querySelector('.approval-board-id').value;
      let url=$(this).attr('href');

      $.ajax({
        url: url,
        method: 'DELETE',
        contentType: 'application/json',
        data: JSON.stringify({ boardId: boardId })
      })
      .done(function(response) {
        alert('요청한 결재가 삭제되다.');
        location.replace("/moveApproval");
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        alert('요청한 결재 삭제에 실패하다.');
      });

    });
  });

  // 결재상태 변경 함수
  $(document).ready(function() {
    $(document).on('change', '#approval-status', function() {
      let status=$(this).val();
      let boardId = $(this).closest('.approval-main-right').find('.approval-board-detail-id').val();

      $.ajax({
        url: "/board/changeapprovalstatus",
        method: 'POST',
        data: { boardId: boardId, approvalStatus: status }
      })
      .done(function(response) {
        // 여유되면 메일보내는 함수 만들어보기
        location.replace("/moveApproval");
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        alert('결재상태 변경에 실패하다.');
      });

    });
  });

</script>

<style>
  /*결재 게시판 리스트 스크롤바 관련*/
  .approval-main-left::-webkit-scrollbar {
    width:0px;
  }
  .approval-main-left::-webkit-scrollbar-thumb {
    background:rgba(0, 0, 0, 0.5);
  }
  .approval-main-left::-webkit-scrollbar-track {
    background:transparent;
  }
  .approval-main-left-alist-section:hover {
    background-color:#f4f6f9;
  }
  .approval-main-right {
    display: none;
  }
  .approval-board-detail-status {
    margin-left:10px;
  }
  .approval-status-requested {
    color:limegreen;
    font-size:11px;
  }
  .approval-status-approved {
    color:blue;
    font-size:11px;
  }
  .approval-status-rejected {
    color:red;
    font-size:11px;
  }
  hr {
    background:gray;
    height:1px;
    border:0;
  }
  .approval-main-right-detail-header {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0;
    padding-right: 3px;
  }
  /*콤보박스관련*/
  select {
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0.5rem;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    width: 100%;
    max-width: 75px; /* 최대 너비 설정 */
    border-radius: 0.25rem;
    box-shadow: 0 0 0 1px #e3e3e3;
  }

  select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    width: 0.75rem;
    height: 0.75rem;
    border: 0.125rem solid #333;
    border-top: none;
    border-right: none;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
  }

  select:hover::after {
    border-color: #555;
  }

  select:focus {
    box-shadow: 0 0 0 1px #555;
  }

  select option {
    background-color: #fff;
    color: #333;
  }
</style>
</body>
</html>