<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: header}"></head>

<body class="g-sidenav-show  bg-gray-100">

<!--   사이드 : aside -->
<aside th:replace="/fragments/aside"></aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <!-- body Top Navbar : bodyTop  -->
  <nav th:replace="fragments/bodyTop"></nav>
  <!-- 결재리스트 페이지 -->
  <div class="container-fluid py-4">

    <div class="row" >
      <!--      Left : 결재 목록 -->
      <div class="col-md-4 mt-4">
        <div class="card" style="height: 100vh;">
          <div class="card-header pb-0 px-3">
            <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">새 기안</button>-->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#writeModal">새 기안</button>
            <hr>
          </div>

          <div class="card-body pt-4 p-3 approval-main-left" th:with="alist=${alist}">
            <h6 class="mb-0">내 결재 목록</h6>
            <ul class="list-group approval-main-left-alist-section" th:each="vo:${alist}" onclick="showAlistContents(this)">
              <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg approval-main-left-alist-section">
                <div class="d-flex flex-column approval-main-left-alist-section-component">
                  <input type="hidden" class="approval-board-id" th:value="${vo.id}">
                  <input type="hidden" class="approval-board-content" th:value="${vo.boardContent}">
                  <input type="hidden" class="approval-board-create-date" th:value="${vo.createDate}">
                  <input type="hidden" class="approval-board-update-date" th:value="${vo.updateDate}">
                  <input type="hidden" class="approval-board-due-date" th:value="${vo.dueDate}">
                  <input type="hidden" class="approval-board-approval-info" th:value="${vo.approvalInfo}">
                  <span class="mb-2 text-xs approval-board-small-element">요청된 기안 : <span class="text-dark font-weight-bold ms-sm-2 approval-board-approval-type" th:text="${vo.approvalType == 'VACATION'} ? '휴가신청' : (${vo.approvalType == 'OVERTIME'} ? '연장근무신청' : '근무시간변경')"></span></span>
                  <span class="mb-2 text-xs approval-board-small-element">결재 요청자: <span class="text-dark font-weight-bold ms-sm-2 approval-board-requestorMemNum" th:text="${vo.boardWriter}"></span></span>
                  <span class="mb-2 text-xs approval-board-small-element">결재 승인자: <span class="text-dark ms-sm-2 font-weight-bold approval-board-approverMemNum" th:text="${vo.approverMemNum.mem_name}"></span></span>
                  <h6 id="approval-board-progress" th:class="${vo.approvalStatus == 'APPROVED' ? 'approval-status-approved' : (vo.approvalStatus == 'REJECTED' ? 'approval-status-rejected' : 'approval-status-requested')}">
                    <span th:text="${vo.approvalStatus == 'REQUESTED'} ? '요청됨' : (${vo.approvalStatus == 'APPROVED'} ? '승인됨' : '반려됨')"></span>&nbsp;&nbsp;
                    <span class="badge bg-secondary"></span>
                  </h6>
                </div>
                <div class="ms-auto text-end">
                  <a class="btn btn-link text-danger text-gradient px-3 mb-0 delete-board-approval" href="/board/deleteboardapproval"><i class="far fa-trash-alt me-2"></i>Delete</a>
                  <a class="btn btn-link text-dark px-3 mb-0" href="#"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                </div>
              </li>
            </ul>

          </div>

        </div>
      </div>

      <!--        Right : 업무 상세 정보 -->
      <div class="col-md-8 mt-4">
        <div class="card h-100 mb-4 approval-main-right">
          <input type="hidden" class="approval-board-detail-id">

          <div class="card-header pb-0 px-3">
            <div class="row">
              <div class="col-md-6 d-flex justify-content-end align-items-center">
                <i class="far fa-calendar-alt me-2"></i>
                <small class="approval-board-detail-create-date"></small>

                <span class="text-xs approval-board-detail-status"id="approvalStatus">요청됨</span>

              </div>
            </div>
          </div>

          <div class="card-body pt-4 p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">결재 요청자</h6>
                    <span class="text-xs approval-board-detail-requestorMemNum"></span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold approval-board-detail-start-date"></div>
              </li>

              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">결재 승인자</h6>
                    <span class="text-xs approval-board-detail-approverMemNum"></span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold approval-board-detail-due-date"></div>
              </li>

              <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center">
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark text-sm">결재 승인 기한</h6>
                    <span class="text-xs approval-board-detail-request-date"></span>
                  </div>
                </div>
                <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold approval-board-detail-due-date"></div>
              </li>

            </ul>
            <hr>
            <h6 class="mb-0">문서 상세</h6>
            <br>
            <section class="approval-board-detail-content"></section>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
<!-- plugin -->
<div th:replace="/fragments/plugin"></div>


<!-- 기안 매뉴 선택 모달 -->
<div class="modal fade" id="writeModal" tabindex="-1" role="dialog" aria-labelledby="writeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="writeModalLabel">새 기안</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="approval-menu" id="vacation" value="vacation">
          <label class="form-check-label" for="vacation">휴가신청</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="approval-menu" id="overtime" value="overtime">
          <label class="form-check-label" for="overtime">연장근무신청</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="approval-menu" id="work-hour-change" value="work-hour-change">
          <label class="form-check-label" for="work-hour-change">업무시간변경</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="redirectToPage()">OK</button>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  // 선택한 기안메뉴에 따라 적절한 작성페이지로 이동시켜주다.
  function redirectToPage() {
    const width = 800;
    const height = 600;
    const left = window.screen.width / 2 - width / 2;
    const top = window.screen.height / 2 - height / 2;
    var menu = $('input[name="approval-menu"]:checked').val();  // 선택한 메뉴 가져오기
    if (menu === "vacation") {
      window.open('/board/newapprovalvacationboard', '휴가신청 기안', `width=${width},height=${height},left=${left},top=${top}`);
      // window.location.href = "/board/newapprovalvacationboard";
    } else if (menu === "overtime") {
      window.open('/board/newapprovalovertimeboard', '야간근무 신청 기안', `width=${width},height=${height},left=${left},top=${top}`);
      // window.location.href = "/board/newapprovalovertimeboard";
    } else if (menu === "work-hour-change") {
      window.open('/board/newapprovalwocboard', '출퇴근 시간 변경 기안', `width=${width},height=${height},left=${left},top=${top}`);
      // window.location.href = "/board/newapprovalwocboard";
    } else {
      // 메뉴를 선택하지 않은 경우, 경고창 표시
      alert("기안 유형을 선택해 주세요");
    }

    $("#writeModal").modal("hide");
  }

  // 게시글 클릭 시, 우측단에 결재문서 상세정보 작성해주는 함수
  function showAlistContents(data){
    $('.approval-main-right').show();

    // db에 저장된 json문자열을 뽑아오다.
    var jsonString=data.querySelector('.approval-board-approval-info').value;
    var jsonObj=JSON.parse(jsonString);

    //기본적인 결재문서 정보 작성 (요청자, 승인자, 요청된 날짜, 승인기간)
    function setValue(targetSelector, sourceSelector) {
      const target = document.querySelector(targetSelector);
      target.innerHTML="";
      target.innerHTML=data.querySelector(sourceSelector).textContent;
    }

    setValue('.approval-board-detail-requestorMemNum', '.approval-board-requestorMemNum');
    setValue('.approval-board-detail-approverMemNum', '.approval-board-approverMemNum');

    var createDate = document.querySelector('.approval-board-detail-create-date');
    createDate.textContent="";
    createDate.textContent=data.querySelector('.approval-board-create-date').value;

    var requestDate = document.querySelector('.approval-board-detail-request-date');
    requestDate.textContent="";
    requestDate.textContent=data.querySelector('.approval-board-create-date').value+" ~ "+data.querySelector('.approval-board-due-date').value;

    // 문서 타입에 따른 결재문서 상세 정보 설정
    var approvalType=data.querySelector('.approval-board-approval-type').textContent;
    var detailContent=document.querySelector('.approval-board-detail-content');
    detailContent.innerHTML="";

    if(approvalType=="휴가신청") {
      var startDate=jsonObj.startDate;
      var endDate=jsonObj.endDate;
      var deduction=jsonObj.deduction;
      var reason=data.querySelector('.approval-board-content').value;

      detailContent.innerHTML+="<div>휴가 시작일 : " + startDate + "</div>";
      detailContent.innerHTML+="<div>휴가 종료일 : " + endDate + "</div>";
      detailContent.innerHTML+="<div>연차 차감 일수 : " + deduction + "</div>";
      detailContent.innerHTML+="<div>휴가 신청 사유 : " + reason + "</div>";
    }
    else if(approvalType == "연장근무신청") {
      var endTime=jsonObj.endTime;
      var bonusAllowance=jsonObj.bonusAllowance;
      var reason=data.querySelector('.approval-board-content').value;

      detailContent.innerHTML+="<div>연장근무 종료 시간 : " + endTime + "</div>";
      detailContent.innerHTML+="<div>연장근무 추가 수당 : " + bonusAllowance + "</div>";
      detailContent.innerHTML+="<div>연장근무 신청 사유 : " + reason + "</div>";
    }
    else {
      var goToOffice=jsonObj.goToOffice;
      var leaveOffice=jsonObj.leaveOffice;
      var reason=data.querySelector('.approval-board-content').value;

      detailContent.innerHTML+="<div>변경 요청한 출근시간 : " + goToOffice + "</div>";
      detailContent.innerHTML+="<div>변경 요청한 퇴근시간 : " + leaveOffice + "</div>";
      detailContent.innerHTML+="<div>출퇴근 시간 변경 신청 사유 : " + reason + "</div>";
    }



  }

</script>

<style>
  /*업무 게시판 리스트 스크롤바 관련*/
  .approval-main-left::-webkit-scrollbar {
    width:0px;
  }
  .approval-main-left::-webkit-scrollbar-thumb {
    background:rgba(0, 0, 0, 0.5);
  }
  .approval-main-left::-webkit-scrollbar-track {
    background:transparent;
  }
  .approval-main-left-alist-section:hover {
    background-color:#f4f6f9;
  }
  .approval-main-right {
    display: none;
  }
  .approval-board-detail-status {
    margin-left:10px;
  }
  .approval-status-requested {
    color:limegreen;
    font-size:11px;
  }
  .approval-status-approved {
    color:blue;
    font-size:11px;
  }
  .approval-status-rejected {
    color:red;
    font-size:11px;
  }
  hr {
    background:gray;
    height:1px;
    border:0;
  }
</style>

</body>

</html>