<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header-1 :: header}"></head>
<body>
<div th:replace="~{/fragments/bodyHeader :: bodyHeader}"></div>

<!--<script src="/fullcalendar/Main.js" defer> </script>-->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js"></script>
<section>
  <div class="row">
    <!--    사이드바 -->
    <div class="col-2">
      <div>
        <div th:replace="/fragments/sidebar.html"/>
      </div>
    </div>
<!--    -->
    <div class="col" style="background-color: antiquewhite;">
      <div id='calendar'>

        <script>

          import interactionPlugin from '@fullcalendar/interaction';

          document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
              initialView: 'dayGridMonth',
              plugins: [ interactionPlugin ],
              droppable: true
            });



            calendar.render();
            new Draggable(draggableEl);
          });

        </script>

      </div>

    </div>
  </div>
</section>
<div th:replace="~{/fragments/footer :: footer}"/>


</body>
</html>