<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: header}"></head>
<body>
<div th:replace="~{/fragments/bodyHeader :: bodyHeader}"></div>

<!--<script src="/fullcalendar/Main.js" defer> </script>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<!-- fullcalendar CDN -->
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js' defer></script>
<!-- fullcalendar 언어 CDN  -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js' defer></script>

<!-- calendarscript 스크립트 <나중에하기>.-->
<!--<script src='/js/calenderscript.js' defer></script>-->

<section>
  <div class="row">
    <!--    사이드바 -->
    <div class="col-2">
      <div>
        <div th:replace="/fragments/sidebar.html"/>
      </div>
    </div>
<!--    -->
    <div class="col" style="background-color: antiquewhite;">

      <div id='external-events'>
        <h4>Draggable Events   WORK IN PROGRESS  </h4>
        <div id='external-events-list'></div>

      </div>

      <div id='calendar'>

        <script>

          document.addEventListener('DOMContentLoaded', function() {
            //var Draggable = FullCalendarInteraction.Draggable;
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
              initialView: 'dayGridMonth',
              editable: true, // 수정 가능?
              selectable: true, // 달력 일자 드래그 설정가능
              nowIndicator: true, // 현재 시간 마크
              dayMaxEvents: true, // 이벤트가 오버되면 높이 제한 (+ 몇 개식으로 표현)
              locale: 'ko', // 한국어 설정
              droppable: true,

              events: [

                  $.ajax({
                    type:"GET",
                    url:"/Calendar",
                    data:{},
                    success:function (res){
                      console.log(res);

                    }
                  })

              ]


            });

            calendar.render();

          });

        </script>

      </div>

    </div>
  </div>
</section>
<div th:replace="~{/fragments/footer :: footer}"/>


</body>
</html>