<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" defer></script>
<body class="g-sidenav-show  bg-gray-100">
<!--   사이드 : aside -->
<aside th:replace="fragments/aside"></aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- body Top Navbar : bodyTop  -->
    <nav th:replace="fragments/bodyTop"></nav>
    <!-- Start Content -->
    <div class="container-fluid py-4">
        <div class="row" >
            <!-- Left : 메일 목록 -->
            <div class="col-md-4">
                <div class="card p-3" style="height: 100vh;">
                    <div class="card-header p-0">
                        <button class="btn bg-gradient-primary p-2 mb-1" onclick="popWriteMail()">메일 쓰기</button>
                        <button class="btn bg-gradient-info p-2 mb-1" onclick="testtest()">받은 메일</button>
                        <button class="btn bg-gradient-success p-2 mb-1" onclick="location.href='/mail/mailForm'">보낸 메일</button>
                        <hr class="solid">
                    </div>

                    <div class="card-body p-0" id="mailListAll">
<!--                        <h6 class="mb-0">메일 목록</h6>-->
                        <ul class="list-group">
                        <!-- 메일함이 비었을 때-->
                            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg"
                                th:if="${mailList.size()==0}">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-3 text-sm">메일 함이 비어있습니다.</h6>
                                </div>
                            </li>
                            <!-- Start 예시 형식    -->
                            <li class="list-group-item border-0 d-flex p-2 px-4 mb-2 bg-gray-100 border-radius-lg"
                            th:each="mail:${mailList}">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-3 text-sm" th:text="${mail.title}">메일 제목</h6>
                                    <span class="mb-2 text-xs">보낸 이: <span class="text-dark font-weight-bold ms-sm-2"
                                    th:text="${mail.sender_name}">
                                    </span>
                                        </span>
                                    <span class="mb-2 text-xs">Email Address: <span class="text-dark ms-sm-2 font-weight-bold"
                                    th:text="${mail.sender_email}">
                                    </span>
                                        </span>
                                </div>
                                <input class="mail-id" type="hidden" th:value="${mail.id}">
                                <div class="ms-auto text-end">
<!--                                    <a class="btn btn-link text-dark px-3 mb-0" th:onclick="|window.location.href='/mail/read/${m.id}'|">Read</a>-->
                                    <a class="read-btn btn btn-link text-dark px-3 mb-0">Read</a>
<!--                                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="far fa-trash-alt me-2"></i>Delete</a>-->
<!--                                    <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>-->
                                </div>
                            </li>
                            <!--                End 예시 형식 -->

                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Left -->
            <!-- Right : 메일 상세 정보 -->
            <div id="read-page-base" class="col-md-8">
                <div class="card p-3 h-100">
                    <div class="card-header pb-0">
                        <h6>메일을 선택하여 내용을 볼 수 있습니다.</h6>
                    </div>
                </div>
            </div>
            <div id="read-page-choice" class="col-md-8" style="display: none">
                <div class="card p-3 h-100">
                    <div class="card-header pb-0">
                        <h6 id="read-title">선택한 메일 제목</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><a class="replay-link" onclick="popReplyMail()">REPLY</a></th>  <!--누르면 답장 기능 -->
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 id="read-sender-name" class="mb-0 text-sm" >보낸 이 이름</h6>   <!-- 보낸 이  -->
                                                <p id="read-sender-email" class="text-xs text-secondary mb-0" >보낸 이 이메일</p>  <!-- 보낸 사람 이메일 -->
                                                <p id="read-send-date" class="text-xs text-secondary mb-0" >보낸 날짜</p>  <!-- 보낸 날짜 -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <!--                                        메일 내용 -->
                                        <div id="read-body"></div>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Right --->
        </div>
    </div>
</main>

<!-- read script-->
<script>
    window.onload = function() {
        let readBtn = document.querySelectorAll('.read-btn');
        let mailId = document.querySelectorAll('.mail-id');
        // let replay = document.querySelectorAll('.replay-link');
        for(let i=0; i<readBtn.length; i++){
            readBtn[i].addEventListener('click',()=>{
                let data = mailId[i].value;

                $.ajax({
                   url:"/mail/read",
                   type:"POST",
                   data:{mailId:data},
                   datatype:"json",
                   success:function (mail) {
                        $('#read-page-base').hide();
                        $('#read-title').html(mail['title']);
                        $('#read-sender-name').html(mail['sender_name']);
                        $('#read-sender-email').html(mail['sender_email']);
                        $('#read-send-date').html(mail['sendDate']);
                        $('#read-body').html(mail['body']);
                        $('#read-page-choice').show();
                        // replay[i].addEventListener('click',()=>{test(mail['title'])});
                   },
                    error:function (mail){
                       alert("메일 불러오기 error");
                    }
                });
            });
        }
    };
    let popup;
    function popWriteMail(){
        popup = window.open("/mail/mailForm",'새 메일', 'width=1040px,height=900px,scrollbars=yes');
    }
    function popReplyMail() {
        let test = document.getElementById('read-sender-name').value;
        // alert(test);
        // alert($('#read-title').text());
        let email = $('#read-sender-email').text();
        popup =window.open("/mail/reply?reply="+email,'새 메일', 'width=1040px,height=900px,scrollbars=yes');
    }

    function testtest(){
        let mailListAll = document.getElementById('mailListAll');
        mailListAll.hide();
    }

</script>
</body>
</html>