<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header-1 :: header-1}"></head>
<body>
<div th:replace="~{/fragments/bodyHeader :: bodyHeader}"></div>

<section>
    <div class="row">
        <!--    사이드바 -->
        <div class="col-2">
            <div>
                <div th:replace="/fragments/sidebar.html"/>
            </div>
        </div>
        <div class="col-10">
            <div class="row row-cols-1 row-cols-md-2 g-2" style="background-color: antiquewhite;">
            <!--<div class="col" style="background-color: antiquewhite;">-->
                    <div class="home-layout">공지사항</div>
                    <div class="home-layout">달력</div>
                    <div class="home-layout">메일</div>
                    <div class="home-layout">출퇴근</div>
                    <div class="home-layout">프로젝트</div>
                    <div class="home-layout" >업무상황</div>
<!--                </div>-->
            </div>
        </div>
    </div>
    <div th:replace="~{/fragments/footer :: footer}"/>
</section>

</body>
</html>
