<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: header}"></head>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" defer></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!--  뒤로가기 block 처리  -->
<script src="../assets/js/material/pageblock.js" defer ></script>

<body style="background-color: #f8f9fa; min-width: 1200px">
<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container mt-8 px-lg-8">
                <div class="row row-cols-1 row-cols-md-2 g-5">
                    <div class="col-5 m-auto">
                        <img src="../image/logo/M_Logo_A.png" style="width:80%">
                    </div>
                    <div class="col-7">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left bg-transparent">
                                <h3 class="font-weight-bolder text-info text-gradient">Log in to MANY TO ONE</h3>
                                <p class="mb-0">로그인 후 출근 상태를 확인해주세요.</p>
                            </div>
                            <div class="card-body">
                                    <label>아이디</label> <!-- 로그인 ID -->
                                    <div class="mb-3">
                                        <input type="text" id="id" name="id" class="form-control" placeholder="Id" aria-label="Id" aria-describedby="email-addon" title="아이디를 입력해주세요" autofocus required>
                                    </div>
                                    <label>비밀번호</label> <!-- 로그인 PW -->
                                    <div class="mb-3">
                                        <input type="password" id="pw" name="pw" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password-addon" title="비밀번호를 입력해주세요" required>
                                    </div>
                                    <!--                  아이디 저장 버튼 -->
                                    <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                                    <label class="form-check-label" for="rememberMe">아이디 저장</label>
                                    </div>
                                    <a href="#" data-bs-target="#emailVal" data-bs-toggle="modal"> 비밀번호가 기억이 안 나십니까 ? 이곳을 클릭해주세요.</a>
                                    <div class="text-center"> <!-- 로그인 버튼 -->
                                        <button type="submit" id="loginBtn" class="btn bg-gradient-info w-100 mt-4 mb-0">LOG IN</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 비번 찾기 이메일 인증 Modal -->
    <div class="modal fade" id="emailVal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">비밀번호 찾기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                    <div class="card-body px-3">
                        <div class="mb-3">
                            <label>I D</label>
                            <input type="text" class="form-control" placeholder="ID" name="modal-id" required/>
                        </div>
                        <div class="mb-3">
                            <label>이메일</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control col-9" style="height: 40px;
                                         border-radius: 7px 0px 0px 7px !important;" placeholder="Email" id="memail" name="memail">
                                <input type="button" class="btn btn-outline-secondary col-3 mb-0" style="height: 40px; font-size: 80%" id="checkEmail"
                                       value="인증번호 전송"/>
                            </div>
                        </div>

                        <!-- <span>이메일 인증번호</span> -->
                        <div class="mb-3">
                            <label>이메일 인증번호를 입력해주세요</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control col-9" style="height: 40px;
                                         border-radius: 7px 0px 0px 7px !important;" id="memailconfirm" name="memailconfirm">
                                <button type="button" class="btn btn-outline-secondary col-3 mb-0" style="height: 40px; font-size: 80%">
                                    인증번호 확인</button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h6> • ID 와 등록된 Email 주소를 입력해주세요. </h6>
                        </div>
                    </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="checkForm(form)">Understood</button>
                    <input type="button" class="btn btn-primary"
                           value="사원등록" onclick="checkForm(form)"/>
                </div>
            </div>
        </div>
    </div>


</main>

<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.7"></script>


<script type="text/javascript">
    <!-- remember id -->
    window.onload = function() {

        // 저장된 쿠키값을 가져와서 ID 칸에 넣어준다. 쿠키값 없으면 공백.
        let userLoginId = getCookie("userLoginId");
        document.getElementById("id").value = userLoginId;

        // ID가 있는경우 아이디 저장 체크박스 체크
        if(document.getElementById("id").value !== ""){
            document.getElementById("rememberMe").checked = true;
        }

        // 아이디 저장하기 체크박스 onchange
        const checkId = document.getElementById("rememberMe");

        checkId.onchange = function (event) {
            if(checkId.checked){ //checked true
                userLoginId = document.getElementById("id").value;
                setCookie("userLoginId", userLoginId, 30); // 30일 동안 쿠키 보관
            }else{ //checked false
                deleteCookie("userLoginId");
            }
        };

        // remember id check true : ID를 입력한 경우
        const idInput = document.getElementById("id");

        idInput.addEventListener("keyup", function(e) {
            if(checkId.checked){ //checked true
                userLoginId = document.getElementById("id").value;
                setCookie("userLoginId", userLoginId, 30); // 30일 동안 쿠키 보관
            }
        })

        let code = "";
        $('#checkEmail').click(function() {
            let email = $('#memail').val();
            $.ajax({
                type : "POST",
                url : "/admin/mailConfirm",
                async : false ,
                data : {
                    "email" : email
                },
                success : function(data){
                    alert("해당 이메일로 인증번호 발송이 완료되었습니다. \n 확인부탁드립니다.")
                    //console.log("data : "+data); 자바에서 생성된 코드 확인
                    code = data;
                }
            })
        })



    }
    // cookie 저장
    function setCookie(cookieName, value, exdays){
        const exdate = new Date();
        exdate.setDate(exdate.getDate() + exdays);
        const cookieValue = decodeURIComponent(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString());
        document.cookie = cookieName + "=" + cookieValue;
    }
    // cookie 삭제
    function deleteCookie(cookieName){
        const expireDate = new Date();
        expireDate.setDate(expireDate.getDate() - 1);
        document.cookie = cookieName + "= " + "; expires=" + expireDate.toUTCString();
    }
    // 저장된 cookie 가져오기
    function getCookie(cookieName) {
        cookieName = cookieName + '=';
        const cookieData = document.cookie;
        let start = cookieData.indexOf(cookieName);
        let cookieValue = '';
        if(start !== -1){
            start += cookieName.length;
            let end = cookieData.indexOf(';', start);
            if(end === -1)end = cookieData.length;
            cookieValue = cookieData.substring(start, end);
        }
        return decodeURIComponent(cookieValue);
    }

    const loginBtn = document.getElementById("loginBtn");
    loginBtn.addEventListener("click",()=>{
        const id = $("#id").val();
        const pw = $("#pw").val();

        $.ajax({
            url:"/members/login",
            type:"POST",
            data:{id:id,
            pw:pw},
            success:function(res){
                 if (res != ""){
                     location.href='/moveDashboard';
                 }else{
                     alert("아이디/비밀번호를 확인해주세요.")
                 }
            }
        });
    })

    // 메일 인증


    function checkForm(form){
        let modalId = document.getElementById('modal-id');
        let modalEmail = document.getElementById('memail');
        if(code === ""){
            alert("코드를 받아와 주세요.");
        }else if(code != $('#memailconfirm').val()){
            alert("메일코드가 일치 하지않습니다.")
        }else{
            $.ajax({
               url:"/members/findPw",
               type:"POST",
               data:{memberId : modalId, email: modalEmail},
               success:function (member) {
                   if(member != null){
                       alert('비밀번호가 초기화 되었습니다.');
                   } else {
                       alert('등록되지 않은 사원 정보 입니다.');
                   }
               },
                error:function () {
                    alert('errorororo');
                }
            });
        }
    }
</script>

</body>

</html>