<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: header}"></head>
<body>
<div th:replace="~{/fragments/bodyHeader :: bodyHeader}"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

<section>
  <div class="row">
  </div>
  <!--    -->
  <h2>드라이브 폼</h2>
  <div class="col" style="background-color: #808080;">

    <div id='external-events'>
      <h4>Draggable Events   WORK IN PROGRESS  </h4>
      <div id='external-events-list'></div>

    </div>

  </div>
  </div>
</section>
<div th:replace="~{/fragments/footer :: footer}"/>


</body>
</html>