<!--자유게시판 작성 양식-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hi there, this is BoardFreeWriteForm section</h1>
    <div>
        <form action="board/free/new" th:object="${boardFreeDTO}" method="POST">

            <div class="form-group">
                <label th:for="boardTitle">제목</label>
                <input type="text" th:field="*{boardTitle}" placeholder="제목을 입력하다.">
            </div>
            <div class="form-group">
                <label th:for="boardContent">내용</label>
                <textarea th:field="*{boardContent}" placeholder="내용을 입력하다."></textarea>
            </div>

            <div class="form-group">
                <input type="hidden" th:field="*{createDate}" th:value="${#dates.format(#dates.createNow(), 'yyyy년 MM월 dd일 HH시 mm분')}">
            </div>

            <button type="submit">제출</button>
        </form>
    </div>
</body>
</html>