/* 하늘색 #9FFFFF 회색바탕 #f8f9fa*/
@charset "UTF-8";

body {
    padding: 0px;
    margin: 0px;
    background-color: #f8f9fa;
}

/* 내비게이션 */
.nav-link,.nav-link:visited
{color:white; font-weight:bold; margin-right: 14px; text-decoration: none;}
.nav-link:hover,.nav-link:active,.nav-link:focus{transform: scale(1.1);color:#9FFFFF;}

.banner1{background: linear-gradient(to right, #1D0A33, #683D99);}
.banner2{background: linear-gradient(to right, #0A2333, #3D7499);}
.banner3{background: linear-gradient(to right, #21330A, #71993D);}
.banner4{background: linear-gradient(to right, #330A23, #993D76);}
.banner5{background: linear-gradient(to right, #33320A, #99973D);}
.banner6{background: linear-gradient(to right, #33120A, #99503D);}
.banner7{background: linear-gradient(to right, #1A2933, #6B8799);}
.banner8{background: linear-gradient(to right, #330A1C, #993D65);}

/* 검색버튼*/
.btn-search{
    color:white;
    border: 0;
    background-color: transparent;
}

.btn-search:hover{transform: scale(1.2);}

/*.nav-link-1:active + .nav-item .navbar-nav .navbar-collapse
.container-fluid .gnb-bg{
    background: linear-gradient(to right, #0A2333, #3D7499);
}*/

section{
    padding-right: 10px;
    height: 98vh;
}

/* 말줄임 효과*/
.truncate {
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* 메인 레이아웃 */
.home-layout{
    height: 32vh;
    padding: 10px;
}

/* section-header */
.section-header{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

/*content-header */
.content-header {
    font-size: 13px;
    color: #f8f9fa;
}

/* 추천검색어 목록*/
.searchGroup{position: absolute;}

.rel_search {
    position: absolute;
    display:flex;
    flex-direction:column;
    z-index: 1;
}

#autoMaker {margin-top:40px;}

#sidenav-main::-webkit-scrollbar {
    display: none;
}