<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
<aside th:fragment="aside" class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
<!-- 사이드바 헤더 : 로고영역(대시보드 이동) -->
<!--  <script src="../assets/js/search/dashboard.js" ></script>-->
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="/moveDashboard" target="_blank">
      <img src="../image/logo/M_Logo_P.png" class="navbar-brand-img h-100" alt="logo_pic">
      <img src="../image/logo/M_Logo_T.png" class="navbar-brand-img" style="height:23px" alt="logo_name">
    </a>
  </div>
  <hr class="horizontal dark mt-0">
  <div class="w-auto pb-5" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <!-- Side_대시보드 -->
      <li class="nav-item">
        <a th:class="${page=='Dashboard'} ? 'nav-link active' : 'nav-link'" href="/moveDashboard">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-shop fs-5"></i>
          </div>
          <span class="nav-link-text ms-1">홈 | Dashboard</span>
        </a>
      </li>
      <!-- Side_프로젝트 -->
      <li class="nav-item">
        <a th:class="${page=='프로젝트'} ? 'nav-link active' : 'nav-link'" href="/moveProject">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-bullet-list-67 fs-5"></i>
          </div>
          <span class="nav-link-text ms-1">프로젝트</span>
        </a>
      </li>
      <!-- Side_메일 -->
      <li class="nav-item">
        <a th:class="${page=='메일'} ? 'nav-link active' : 'nav-link'" href="/mail/main">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-email-83 fs-5"></i>
          </div>
          <span class="nav-link-text ms-1">메일</span>
        </a>
      </li>
      <!-- Side_캘린더 -->
      <li class="nav-item">
        <a th:class="${page=='캘린더'} ? 'nav-link active' : 'nav-link'" href="/moveCalendar">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-calendar-grid-58 fs-5"></i>
          </div>
          <span class="nav-link-text ms-1">캘린더</span>
        </a>
      </li>
      <!-- Side_드라이브 -->
      <li class="nav-item">
        <a th:class="${page=='드라이브'} ? 'nav-link active' : 'nav-link'" href="/moveDrive">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-cloud-upload-96 fs-5"></i>
          </div>
          <span class="nav-link-text ms-1">드라이브</span>
        </a>
      </li>
      <!-- Side_주소록 -->
      <li class="nav-item">
        <a th:class="${page=='주소록'} ? 'nav-link active' : 'nav-link'" href="/moveMembers">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-badge fs-5"></i>
          </div>
          <span class="nav-link-text ms-1">주소록</span>
        </a>
      </li>
      <!-- Side_결재 -->
      <li class="nav-item">
        <a th:class="${page=='결재'} ? 'nav-link active' : 'nav-link'" href="/moveApproval">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-building fs-5"></i>
          </div>
          <span class="nav-link-text ms-1">결재</span>
        </a>
      </li>
      <!-- Side_Chat -->
      <li class="nav-item">
      <a th:class="${page=='채팅'} ? 'nav-link active' : 'nav-link'" href="#" onclick="openPopup()">
        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
          <i class="ni ni-chat-round fs-5"></i>
        </div>
        <span class="nav-link-text ms-1">회의</span>
      </a>
      </li>
      <!-- Side_Admin -->
      <li class="nav-item">
        <a th:class="${page=='관리자'} ? 'nav-link active' : 'nav-link'" href="/admin">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="ni ni-chart-bar-32 fs-5"></i>
          </div>
          <span class="nav-link-text ms-1">ADMIN</span>
        </a>
      </li>
    </ul>
  </div>
<!-- 로그인 회원 정보 -->
  <div class="mx-3">
    <div class="card card-background shadow-none card-background-mask-primary" id="sidenavCard">
      <div class="full-background" style="background-image: url('static/assets/img/curved-images/white-curved.jpg')"></div>
      <div class="card-body text-start p-3 w-100">
          <a th:if="${session.user.status == 'offline'}" class="btn bg-gradient-info w-100 text-md-center fw-bold" href="/members/AttendanceControl">
          출근하기</a>
          <a th:if="${session.user.status == 'online'}" class="btn bg-gradient-secondary w-100 text-md-center fw-bold" href="/members/AttendanceControl">
          퇴근하기</a>

          <p>
            <span class="text-2xl font-weight-bold" th:text="${session.user.getMem_name()}"></span>
              <img th:src="@{'/' + ${session.user.getMem_img()}}" class="userPic" style="height:60px; border-radius:50px; float: right">
          </p>
          <p class="text-sm" th:text="${session.user.getTeam().getTeam_name()}"></p>
        <a href="/members/profile" class="btn btn-white btn-sm w-100 mb-0 text-md-center fw-bold">마이 페이지</a>
      </div>
    </div>
    <a class="btn bg-gradient-primary mt-3 w-100 text-md-center" href="/members/logout">LOGOUT</a>
  </div>
<!-- footer -->
  <div class="copyright text-center text-sm text-muted text-lg-start pt-3 ps-3">
    © <script>
    document.write(new Date().getFullYear())
    function openPopup() {
      const width = 800;
      const height = 600;
      const left = window.screen.width / 2 - width / 2;
      const top = window.screen.height / 2 - height / 2;
      window.open('/moveMeeting', '회의실', `width=${width},height=${height},left=${left},top=${top}`);
    }

  </script>,
    made with by
    <a class="font-weight-bold" target="_blank">IK SY JH BJ</a>
  </div>
</aside>