<!DOCTYPE html>
<script src="https://kit.fontawesome.com/ae45516897.js" crossorigin="anonymous"></script>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="bodyTop" class="navbar navbar-main navbar-expand-lg pt-4 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
        <!--<nav aria-label="breadcrumb">-->
            <h3 class="font-weight-bolder mb-0" th:text="${page}"></h3>
        <!--</nav>-->
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">

                <!--대시보드 Top메뉴-->
                <div th:if="${page=='Dashboard'}" class="input-group">
                    <button type="button" class="btn btn-outline-primary mb-0">보드1</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">보드2</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">보드3</button>
                    <button type="button" class="btn btn-outline-info mb-0">전체 보드</button>
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Type here...">
                </div>

                <!--프로젝트 Top메뉴-->
                <div th:if="${page=='프로젝트'}" class="input-group">
                    <button type="button" class="btn btn-outline-primary mb-0">새 할일</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">내 할일</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">팀 할일</button>
                    <button type="button" class="btn btn-outline-info mb-0">전체 프로젝트</button>
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Type here...">
                </div>

                <!--메일 Top메뉴-->
                <div th:if="${page=='메일'}" class="input-group">
                    <button type="button" class="btn btn-outline-primary mb-0" onclick="location.href='/mail/mailForm'">
                        <i class="fa-solid fa-envelope"></i> 메일 쓰기</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">받은 메일</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">보낸 메일</button>
                    <button type="button" class="btn btn-outline-info mb-0">전체 메일</button>
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Type here...">
                </div>

                <!--캘린더 Top메뉴-->
                <div th:if="${page=='캘린더'}" class="input-group">
                    <button type="button" class="btn btn-outline-primary mb-0">새 일정</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">내 일정</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">팀 일정</button>
                    <button type="button" class="btn btn-outline-info mb-0">전체 일정</button>
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Type here...">
                </div>

                <!--드라이브 Top메뉴-->
                <div th:if="${page=='드라이브'}" class="input-group">
                    <button type="button" class="btn btn-outline-primary mb-0">새 파일</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">내 드라이브</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">팀 드라이브</button>
                    <button type="button" class="btn btn-outline-info mb-0">전체 드라이브</button>
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Type here...">
                </div>

                <!--주소록 Top메뉴-->
                <div th:if="${page=='주소록'}" class="input-group">
                    <button type="button" class="btn btn-outline-primary mb-0">주소록</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">조직도</button>
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Type here...">
                </div>

                <!--결재 Top메뉴-->
                <div th:if="${page=='결재'}" class="input-group">
                    <button type="button" class="btn btn-outline-primary mb-0">새 결재</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">휴가신청</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">근무변경</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">경비청구</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">재직증명서</button>
                    <button type="button" class="btn btn-outline-info mb-0">결재현황</button>
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Type here...">
                </div>

                <!--관리자 Top메뉴-->
                <div th:if="${page=='관리자'}" class="input-group">
                    <button type="button" class="btn btn-outline-primary mb-0">공지관리</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">사원관리</button>
                    <button type="button" class="btn btn-outline-secondary mb-0">근태관리</button>
                    <button type="button" class="btn btn-outline-info mb-0">급여관리</button>
                    <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="Type here...">
                </div>
            </div>

            <!--알림 버튼 : 드롭 다운-->
            <ul class="navbar-nav  justify-content-end">
                <li class="nav-item dropdown pe-2 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell cursor-pointer"></i>
                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="javascript:;">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <img src="../assets/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold">New message</span> from Laur
                                        </h6>
                                        <p class="text-xs text-secondary mb-0 ">
                                            <i class="fa fa-clock me-1"></i>
                                            13 minutes ago
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a class="dropdown-item border-radius-md" href="javascript:;">
                                <div class="d-flex py-1">
                                    <div class="my-auto">
                                        <img src="../assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            <span class="font-weight-bold">New album</span> by Travis Scott
                                        </h6>
                                        <p class="text-xs text-secondary mb-0 ">
                                            <i class="fa fa-clock me-1"></i>
                                            1 day
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item border-radius-md" href="javascript:;">
                                <div class="d-flex py-1">
                                    <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                                        <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <title>credit-card</title>
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                                    <g transform="translate(1716.000000, 291.000000)">
                                                        <g transform="translate(453.000000, 454.000000)">
                                                            <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                                            <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="text-sm font-weight-normal mb-1">
                                            Payment successfully completed
                                        </h6>
                                        <p class="text-xs text-secondary mb-0 ">
                                            <i class="fa fa-clock me-1"></i>
                                            2 days
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>