<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css/sidebar.css">

<div class="sidemenu" id="sidebar" th:fragment="sidebar">
    <div id="addFn">새 일정</div>
    <label for="expand-menu"><div>메뉴</div></label>
    <input type="checkbox" id="expand-menu" name="expand-menu">
    <ul>
        <li><a href="#"><div class="sideItem">새 일정등록</div></a></li>
        <li><a href="#"><div class="sideItem">내 일정</div></a></li>
        <li><a href="#"><div class="sideItem">팀 일정</div></a></li>
        <li><a href="#"><div class="sideItem">전체 일정</div></a></li>
        <li><a href="#"><div class="sideItem">test</div></a></li>
        <li><a href="#"><div class="sideItem">설정</div></a></li>
        <li><a href="/members/login"><div class="sideItem">로그인</div></a></li>
    </ul>
</div>
