<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header-1 :: header-1}">
  <title></title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>

<body>

<div class="row">

  <div th:replace="~{/fragments/bodyHeader :: bodyHeader}"></div>
</div>



<section>
  <div class="row">
<!--    사이드바
      '메일 보내기' 추가 -->
    <div class="col-2">
      <div>
        <div th:replace="/fragments/sidebar.html"></div>
      </div>
    </div>

<!--       가운데
          체크박스 선택된 사람들에게 메일 한꺼번에 보내기 -->
    <div class="col-7" style="background-color: antiquewhite; border: 1px solid black;">
      <form action="" method="">
      <table class="table">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">이름</th>
          <th scope="col">직급</th>
          <th scope="col">부서</th>
          <th scope="col">담당업무</th>
          <th scope="col">전화번호</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input type="checkbox" name=""/></td>
          <td>나다</td>
          <td>왕</td>
          <td>인사</td>
          <td>감독</td>
          <td>123-1234</td>
        </tr>
        </tbody>
      </table>
      </form>
    </div>

<!--    오른쪽 : 상세정보
       가운데 목록에서 이름 누르면 상세정보에 표기 -->
    <div class="col-3" style="background-color: antiquewhite; border: 1px solid black;">
      <table class="table" style="text-align: center; vertical-align: middle;">
        <tr>
          <th>상세 정보</th>
        </tr>
        <tr>
          <td><img src="" alt=""/>이미지</td>
        </tr>
        <tr>
          <td>이름</td>
        </tr>
        <tr>
          <td>성별</td>
        </tr>
        <tr>
          <td>직급/부서</td>
        </tr><tr>
        <td>사내번호</td>
      </tr><tr>
        <td>이메일</td>
      </tr><tr>
        <td>생일</td>
      </tr>
      </table>
    </div>

  </div>
</section>
<div th:replace="~{/fragments/footer :: footer}"></div>



</body>
</html>