<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header :: header}">
    <title>Hello</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

</head>

<body>

<div class="row">

    <div th:replace="~{/fragments/bodyHeader :: bodyHeader}"></div>
</div>



<section class="bg-light">
    <div class="container" style="padding-top: 200px;">
        <div class="mb-3">
        <b>LOGIN</b>
        </div>
        <form action="" method="">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">I D</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="아이디를 입력하시오." name="id" required>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">PASSWORD</label>
            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="비밀번호를 입력하시오.   " name="pw" required>
        </div>
            <div class="mb-3">
            <input type="submit" value="sign in"/>
            </div>
        </form>
    </div>
</section>
<div th:replace="~{/fragments/footer :: footer}"></div>



</body>
</html>